@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
// font weights Inter 400,700 Lexend 400
$inter: 'Inter', sans-serif;
$lexend: 'Lexend Deca', sans-serif;

// colors
$mainbg: hsl(233, 47%, 7%);
$cardbg: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$mainpara: hsla(0, 0%, 100%, 0.75);
$statsheadings: hsla(0, 0%, 100%, 0.6);