.flex{
    display: flex;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h1,h2{
    font-family: $inter;
    font-weight: 700;
}
p{
    font-family: $lexend;
    font-weight: 400;
    letter-spacing: 0.5px;
}